Skip to content

Search Gists
Search...
All gists
Back to GitHub
@KernelA
KernelA/.dockerignore
Created 4 years ago • Report abuse
Code
Revisions
1
Stars
22
Clone this repository at &lt;script src=&quot;https://gist.github.com/KernelA/04b4d7691f28e264f72e76cfd724d448.js&quot;&gt;&lt;/script&gt;
<script src="https://gist.github.com/KernelA/04b4d7691f28e264f72e76cfd724d448.js"></script>
.dockerignore example for Python projects
.dockerignore
# Git
.git
.gitignore
.gitattributes


# CI
.codeclimate.yml
.travis.yml
.taskcluster.yml

# Docker
docker-compose.yml
Dockerfile
.docker
.dockerignore

# Byte-compiled / optimized / DLL files
**/__pycache__/
**/*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Virtual environment
.env
.venv/
venv/

# PyCharm
.idea

# Python mode for VIM
.ropeproject
**/.ropeproject

# Vim swap files
**/*.swp

# VS Code
.vscode/
@ZwickVitaly
ZwickVitaly commented on Jul 4
I don't see any comment here. I just wanted to say: Thank you for making life easier

@lionnelpat
lionnelpat commented on Jul 5
I agree with @ZwickVitaly
Thanl's a lot

@tobimadehin
tobimadehin commented last month
Thanks a bunch!

@LzrdDragon
LzrdDragon commented last month
Respect! And Thank You!

@mrForza
Comment

Leave a comment

Footer
© 2024 GitHub, Inc.
Footer navigation
Terms
Privacy
Security
Status
Docs
Contact
Manage cookies
Do not share my personal information
